h1{
    color: black;
    background-color: cyan;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    
    width: 60%;
  }
  table, td, th{
    border: 3px solid #888;
    border-collapse: collapse;
    border-style: double;
  }
  .ok{
      text-align: center;
  }
  
  .cc{
    width: 200px;
    height: 110px;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
  }
  main{
      padding-left: 20%;
      padding-right: 20%;
      
      
  }
  footer{
      text-align: center;
      
  }
  .gll{
      height: 100px;
      width: 200px;
  }